
.container {
    border: 1px solid red;
    width: 600px;
    height: 600px;
    margin: 50px;
    min-height: 100px;
    display: flex;
}
.btn {
    width: 100px;
    height: 50px;
    background-color: rgb(194, 194, 207);
    border-radius: 20%;
}
.box {
    width: 100px;
    height: 100px;
    background: orangered; 
}